{% include 'base.html' %}
{% include 'navigation.html' %}


{% block content %}

<h1 class="text-center" style="margin-top: 50px">About Us</h1><br><br>

        <div class="site-headling">
            <h1 class="strong">We Provide Essential Services For Your Health Care</h1>
            <p><h5>Hospitals is 130 bedded super specialty hospital .Hospitals is a unit of Tanuku Hospitals Ltd which is promoted and managed by group of doctors of costal Andhra Pradesh .Hospitals is located at Tanuku, a rich industrial town of costal Andhra Pradesh.
                 Tanuku is well connected to road (NH5), Train and also Airport (1 ½ hour drive from Tanuku to Airport)

                Quality healthcare comes only with commitment. A commitment to serve patients and ensure their well being and recovery in the shortest possible time. Choosing the right hospital for your medical needs is always a difficult choice for a patient or guardian. Hospital has gained an enviable reputation of delivering quality healthcare solutions which are available to all sections of the society.
                
                Hospitals believes that a human touch to healthcare is the key differentiator which makes patients feel comfortable and recover faster from their ailments.</h5></p>
        </div><br><br>
        
        

        <div>
            <div class="site-headling text-center">
                <center>
                <h3>Our Team</h3></center>
                <h5 style="color:  rgb(126, 124, 228);">There are many people who contribute to your care while you are in hospital.<br>
                    Doctors assess and manage your medical treatment.<br>
                    Nurses provide ongoing care.<br>
                    Allied health professionals provide services to help with diagnosis and treatment, and help you during the recovery process.</h5>
            </div>
        </div>


{% endblock content %}
{% include 'footer.html' %}